<div class="text-center">
<div [ngSwitch]="start">
  <form #form="ngForm" *ngSwitchCase="false" (ngSubmit)="submit()" >

    <div class="font-weight-bold"><h1>Battleships</h1></div>
    <div class="font-weight-normal text-danger"><h4>pro vyhrání musíš najít všechny lodě</h4></div>

    <button type="btn" class="btn btn-dark" [disabled]="form.invalid">Start</button>
  </form>
  <div class="center d-flex flex-row flex-wrap" style="width: 100vw;" *ngSwitchCase="true">
    <div *ngFor="let position of game" class="border border-dark" (click)="turn(position)">
      <span class="center" *ngIf="position.stav" >{{position.statusPole}}</span>
    </div>
  </div>
</div>

</div>


<router-outlet></router-outlet>
